<main class='container'>
  <div class='row mt-3'>
    <div class='col-12 col-sm-6 col-xl-6 mb-4'>
      <div class='card border-0 shadow'>
        <div class='card-body'>
          <div class='row d-block d-xl-flex align-items-center'>
            <div
              class='col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center'
            >
              <div class='icon-shape icon-shape-primary rounded me-4 me-sm-0'>
                <svg
                  class='icon'
                  fill='currentColor'
                  viewBox='0 0 20 20'
                  xmlns='http://www.w3.org/2000/svg'
                ><path
                    d='M13 6a3 3 0 11-6 0 3 3 0 016 0zM18 8a2 2 0 11-4 0 2 2 0 014 0zM14 15a4 4 0 00-8 0v3h8v-3zM6 8a2 2 0 11-4 0 2 2 0 014 0zM16 18v-3a5.972 5.972 0 00-.75-2.906A3.005 3.005 0 0119 15v3h-3zM4.75 12.094A5.973 5.973 0 004 15v3H1v-3a3 3 0 013.75-2.906z'
                  ></path></svg>
              </div>
              <div class='d-sm-none'>
                <h2 class='h5'>Customers</h2>
                <h3 class='fw-extrabold mb-1'>
                  {{format-number this.customersAmount}}</h3>
              </div>
            </div>
            <div class='col-12 col-xl-7 px-xl-0'>
              <div class='d-none d-sm-block'>
                <h2 class='h6 text-gray-400 mb-0'>Customers</h2>
                <h3 class='fw-extrabold mb-2'>
                  {{format-number this.customersAmount}}</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class='col-12 col-sm-6 col-xl-6 mb-4'>
      <div class='card border-0 shadow'>
        <div class='card-body'>
          <div class='row d-block d-xl-flex align-items-center'>
            <div
              class='col-12 col-xl-5 text-xl-center mb-3 mb-xl-0 d-flex align-items-center justify-content-xl-center'
            >
              <div class='icon-shape icon-shape-secondary rounded me-4 me-sm-0'>
                <svg
                  class='icon'
                  fill='currentColor'
                  viewBox='0 0 20 20'
                  xmlns='http://www.w3.org/2000/svg'
                ><path
                    fill-rule='evenodd'
                    d='M10 2a4 4 0 00-4 4v1H5a1 1 0 00-.994.89l-1 9A1 1 0 004 18h12a1 1 0 00.994-1.11l-1-9A1 1 0 0015 7h-1V6a4 4 0 00-4-4zm2 5V6a2 2 0 10-4 0v1h4zm-6 3a1 1 0 112 0 1 1 0 01-2 0zm7-1a1 1 0 100 2 1 1 0 000-2z'
                    clip-rule='evenodd'
                  ></path></svg>
              </div>
              <div class='d-sm-none'>
                <h2 class='fw-extrabold h5'>Value</h2>
                <h3 class='mb-1'>
                  {{format-number
                    this.totalUsdValue
                    currency='USD'
                    style='currency'
                  }}
                </h3>
              </div>
            </div>
            <div class='col-12 col-xl-7 px-xl-0'>
              <div class='d-none d-sm-block'>
                <h2 class='h6 text-gray-400 mb-0'>Value</h2>
                <h3 class='fw-extrabold mb-2'>
                  {{format-number
                    this.totalUsdValue
                    currency='USD'
                    style='currency'
                  }}
                </h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class='row'>
    <div class='col-12 col-xl-4'>
      <div class='col-12 px-0 mb-4'>
        <div class='card border-0 shadow'>
          <div class='card-body'>
            <div
              class='d-flex align-items-center justify-content-between border-bottom pb-3'
            >
              <div>
                <div class='h6 mb-0 d-flex align-items-center'>
                  <svg
                    class='icon icon-xs text-gray-500 me-2'
                    fill='currentColor'
                    viewBox='0 0 20 20'
                    xmlns='http://www.w3.org/2000/svg'
                  ><path
                      fill-rule='evenodd'
                      d='M10 18a8 8 0 100-16 8 8 0 000 16zM4.332 8.027a6.012 6.012 0 011.912-2.706C6.512 5.73 6.974 6 7.5 6A1.5 1.5 0 019 7.5V8a2 2 0 004 0 2 2 0 011.523-1.943A5.977 5.977 0 0116 10c0 .34-.028.675-.083 1H15a2 2 0 00-2 2v2.197A5.973 5.973 0 0110 16v-2a2 2 0 00-2-2 2 2 0 01-2-2 2 2 0 00-1.668-1.973z'
                      clip-rule='evenodd'
                    ></path></svg>
                  Leaderboard
                </div>
              </div>
              <div class='col text-end'>
                <BsButton
                  @size='sm'
                  @type='primary'
                  {{on 'click' this.toggleLeaderboardCollapsed}}
                >See more</BsButton>
              </div>
            </div>
            {{#each this.topCustomers as |customer index|}}
              <div
                class='d-flex align-items-center justify-content-between
                  {{if
                    (not-eq index (sub this.topCustomersSize 1))
                    "border-bottom"
                  }}
                  {{if
                    (not-eq index (sub this.topCustomersSize 1))
                    "py-3"
                    "pt-3"
                  }}
                  '
              >
                <div>
                  <div class='h6 mb-0 d-flex align-items-center'>
                    <svg
                      class='icon icon-xs text-gray-500 me-2'
                      fill='currentColor'
                      viewBox='0 0 20 20'
                      xmlns='http://www.w3.org/2000/svg'
                    ><path
                        fill-rule='evenodd'
                        d='M2 6a2 2 0 012-2h4l2 2h4a2 2 0 012 2v1H8a3 3 0 00-3 3v1.5a1.5 1.5 0 01-3 0V6z'
                        clip-rule='evenodd'
                      ></path><path
                        d='M6 12a2 2 0 012-2h8a2 2 0 012 2v2a2 2 0 01-2 2H2h2a2 2 0 002-2v-2z'
                      ></path></svg>
                    <LinkTo
                      @route='customers.customer'
                      @model={{customer.scheduleFLine}}
                    >{{customer.name}}</LinkTo>
                  </div>
                  <div class='small card-stats'>
                    {{format-number
                      customer.usdValue
                      currency='USD'
                      style='currency'
                    }}
                  </div>
                </div>
                <div>
                  <a href='#' class='d-flex align-items-center fw-bold'>
                    #{{add index 1}}
                  </a>
                </div>
              </div>
            {{/each}}
          </div>
        </div>
      </div>
    </div>

    <div class='col-12 col-xl-8'>
      <div class='row'>
        <div class='col-12 mb-4'>
          <div class='card border-0 shadow'>
            <div class='card-header'>
              <div class='row align-items-center'>
                <div class='col'>
                  <h2 class='fs-5 fw-bold mb-0'>Assets lost</h2>
                </div>
                <div class='col text-end'>
                  <BsButton
                    @size='sm'
                    @type='primary'
                    {{on 'click' this.toggleAssetsCollapsed}}
                  >See all</BsButton>
                </div>
              </div>
            </div>
            <div class='table-responsive'>
              <table class='table align-items-center table-flush'>
                <thead class='thead-light'>
                  <tr>
                    <th class='border-bottom' scope='col'>Token</th>
                    <th class='border-bottom' scope='col'>Amount</th>
                    <th class='border-bottom' scope='col'>Value</th>
                  </tr>
                </thead>
                <tbody>
                  {{#each this.filteredAssets as |asset|}}
                    <tr>
                      <th class='text-gray-900' scope='row'>
                        {{asset.token}}
                      </th>
                      <td class='fw-bolder text-gray-500'>
                        {{format-number asset.amount}}
                      </td>
                      <td class='fw-bolder text-gray-500'>
                        {{format-number
                          asset.usdValue
                          currency='USD'
                          style='currency'
                        }}
                      </td>
                    </tr>
                  {{/each}}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>