<BsNavbar
  @type='dark'
  @fluid={{false}}
  @backgroundColor='none'
  class='navbar-transparent navbar-theme-primary mb-4'
  as |navbar|
>
  <LinkTo @route='index' class='navbar-brand'>Doxxed by celsius</LinkTo>
  <navbar.nav class='me-auto' as |nav|>
    <nav.linkTo @route='customers'>Customers</nav.linkTo>
  </navbar.nav>
  <navbar.nav as |nav|>
    <nav.dropdown as |dd|>
      <BsForm @formLayout='inline' as |form|>
        <form.element {{create-ref 'searchCustomerForm'}} as |el|>
          <div class='input-group me-2 me-lg-3 fmxw-400'>
            <span class='input-group-text'>
              {{#if this.searchCustomersTask.isRunning}}
                <Icon::Spinner />
              {{else}}
                <Icon::Search />
              {{/if}}
            </span>

            <el.control
              autocomplete='off'
              placeholder='Search a customer'
              @onChange={{(fn (perform this.searchCustomersTask) dd)}}
              @value={{this.searchTerm}}
            />
          </div>
        </form.element>
      </BsForm>
      <dd.menu
        {{popper-tooltip this.searchCustomerForm this.popperOptions}}
        as |ddm|
      >
        {{#each this.searchCustomers.content as |customer|}}
          <ddm.item>
            <ddm.linkTo
              @route='customers.customer'
              @model={{customer.scheduleFLine}}
              {{on 'click' (fn this.onCustomerSelected dd)}}
            >
              <div class='d-flex bd-highlight'>
                <div class='me-auto bd-highlight'>{{customer.name}}</div>
                <div
                  class='bd-highlight ms-2 text-success d-none d-md-flex'
                >{{format-number
                    customer.usdValue
                    currency='USD'
                    style='currency'
                  }}</div>
              </div>
            </ddm.linkTo>
          </ddm.item>
        {{/each}}
        {{#unless this.searchCustomers.content}}
          <h6 class='dropdown-header'>No customers found</h6>
        {{/unless}}
      </dd.menu>
    </nav.dropdown>
  </navbar.nav>
</BsNavbar>